@charset "utf-8";
/* 폰트 */
@font-face {
    font-family: "SB어그로B";
    src: url(../font/SB\ 어그로\ B.ttf)
}
@font-face {
    font-family: "SB어그로M";
    src: url(../font/SB\ 어그로\ M.ttf)
}
@font-face {
    font-family: "SB어그로L";
    src: url(../font/SB\ 어그로\ L.ttf)
}
@font-face {
    font-family: "위메프B";
    src: url(../font/Wemakeprice-Bold.ttf)
}
@font-face {
    font-family: "위메프";
    src: url(../font/Wemakeprice-Regular.ttf)
}
@font-face {
    font-family: "마루부리B";
    src: url(../font/MaruBuri-Bold.ttf)
}
/* 초기화 */
body, ul, h1, h2, h3, h4, h5, h6, p, dl, dd, input {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #000; text-transform: uppercase;}
#main .hidden, .hidden {position: absolute; left: -9999px;}
.text_hidden {text-indent: -9999px;}
em, address, small, strong {font-size: 1em; font-style: normal;}
/* body 기본 상태 */
body {font-family: "SB어그로L", sans-serif;}
body::-webkit-scrollbar {width: 15px; background-color: #cecece;}
body::-webkit-scrollbar-thumb {border-radius: 15px; background-color: #045e88;}
/* 헤더 */
#topWrap {
    background-color: rgba(255, 255, 255, 0.95); transition-duration: 0.3s;
    position: fixed; top: 0; left: 0; width: 100%; z-index: 10000;
    /* border-bottom: 1px solid #000; */
}
#topWrap.slideUp {transform: translateY(-100%);}
#header {
    padding: 15px; 
    box-sizing: border-box;
    position: relative;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
/* 로고 */
#header h1 {
    height: 31px; width: 250px;
}
#header h1 a {
    display: block; height: 31px;
    background: url(../svg/crystal-e_logo_head.svg) no-repeat center / 250px;
}
/* 검색창 */
#search {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
    padding: 2px; animation: colorMove 2s linear infinite;
}
@keyframes colorMove {
    from {background-position: 0 center;}
    to {background-position: 27vw center;}
}
#searchWrap {
    background-color: #fff; padding: 5px 10px; display: flex;
}
#search label {}
#s_write {
    width: 35vw; font-size: 1em; padding: 5px 0;
    border: 0; outline: none; background-color: rgba(0, 0, 0, 0);
}
#check {
    width: 30px; height: 30px; align-self: center;
    border: 0; outline: none; text-indent: -9999px; cursor: pointer;
    background: url(../svg/search.svg) no-repeat center / cover;
}
/* 글자 크기 */
#option {}
#option a {transition-duration: 0.3s;}
#option h2 {}
#option ul {}
#option ul li {float: left;}
#text_size {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;}
#text_size a {
    display: block; width: 30px; height: 30px;
    background: url(../images/crystal-e_arrow_off.png) no-repeat center / 120px;
}
#text_size a.down {background-position-x: 0;}
#text_size a.up {background-position-x: -30px;}
#text_size a:hover {background-image: url(../images/crystal-e_arrow_on.png);}
#option #text_size p {font-size: 1em;}
/* 장바구니 */
#basket {
    position: relative; margin-right: 30px;
}
#basket a {
    display: block; width: 30px; height: 30px;
    background: url(../images/cart.png) no-repeat center / cover;
}
#basket a:hover {background-image: url(../images/cart_on.png);}
#basket p {
    position: absolute; top: -10px; right: -10px; text-align: center;
    line-height: 22px; width: 22px; height: 22px;
    background-color: #c91c1c; color: #fff;
    border-radius: 50%; font-size: 16px;
}
/* 메뉴 */
/* 주메뉴 - menuBig */
#menuBig .gnb {
    width: 90%; margin: 0 auto;
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
#menuBig .gnb > li > a {
    display: block; width: 100%; padding: 20px 0;
    text-align: center; font-size: 1.1em; font-weight: bold;
    position: relative;
}
#menuBig .gnb > li > a::after {
    content: ""; width: 0; height: 3px; background-color: #c91c1c;
    position: absolute; bottom: 0; left: 50%; transition-duration: 0.3s;
}
#menuBig .gnb > li > a:hover::after {width: 140%; left: -20%;}
#menuBig .gnb > li > a.active::after {width: 140%; left: -20%;}
/* 보조 메뉴 - 1 */
#menuBig .gnb .one_depth_snb {
    position: absolute; left: 0; width: 100%; box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    background: #fff; padding: 10px 30px;
    display: none;
}
#menuBig .gnb .one_depth_snb > li {float: left; width: 16%;}
#menuBig .gnb .one_depth_snb > li {width: 16%;}
#menuBig .gnb .one_depth_snb > li > a {
    display: block; padding: 10px 0; font-weight: bold; font-size: 1em;
}
#menuBig .gnb .one_depth_snb > li > a:hover {text-decoration: underline;}
/* 보조 메뉴 - 2 */
#menuBig .gnb .two_depth_snb {padding: 10px 0;}
#menuBig .gnb .two_depth_snb li {}
#menuBig .gnb .two_depth_snb li a {
    display: block; padding: 3px 0; font-size: 0.9em; color: #595959;
}
#menuBig .gnb .two_depth_snb > li > a:hover {text-decoration: underline;}

/* 메뉴 토글 버튼 */
#toggleBtn {
    display: block; background-color: rgba(255, 255, 255, 0); width: 25px; height: 20px;
    border: 3px solid #555555; border-right: 0; border-left: 0; z-index: 10001;
    position: fixed; top: 15px; right: 15px; transition-duration: 0.3s;
}
#toggleBtn.slideUp {transform: translateY(-200%);}
#toggleBtn:hover {width: 15px;}
#menuSmall.active + #toggleBtn {width: 15px; border-color: #c91c1c;}
#toggleBtn::after {
    content: ""; position: absolute; top: 50%; right: 0; transform: translateY(-50%);
    width: 15px; height: 5px; border: 3px solid #555555; border-right: 0; border-left: 0;
    transition-duration: 0.3s;
}
#toggleBtn:hover::after {width: 25px;}
#menuSmall.active + #toggleBtn::after {width: 25px; border-color: #c91c1c;}
/* 주메뉴 - menuSmall */
#menuSmall {
    position: fixed; top: 0; right: -100%; z-index: 10000; transition-duration: 0.3s;
    width: 80vw; height: 100vh; background: #fff; padding-top: 70px; box-sizing: border-box;
}
#menuSmall.active {right: 0; box-shadow: -40px 0 40px rgba(0, 0, 0, 0.3);}
#menuSmall .gnb {
    width: 100%;
}
#menuSmall .gnb > li {border-bottom: 1px solid #b1b1b1;}
#menuSmall .gnb > li > a {
    display: block; padding: 20px 0; position: relative; font-size: 1.1em; font-weight: bold;
    text-indent: 15px;
}
#menuSmall .gnb > li > a::after {
    content: ""; position: absolute; top: 50%; right: 15px; transform: translateY(-50%);
    width: 30px; height: 30px; background: url(../images/crystal-e_arrow_off.png) no-repeat 100% / 120px;
}
#menuSmall .gnb > li > a:hover::after {background-image: url(../images/crystal-e_arrow_on.png);}
#menuSmall .gnb > li > a.active::after {background-position-x: 66%;}
#menuSmall .gnb > li > a.active:hover::after {background-image: url(../images/crystal-e_arrow_on.png);}
/* 보조 메뉴 - 1 */
#menuSmall .gnb .one_depth_snb {
    background: #e0e0e0; display: none;
}
#menuSmall .gnb .one_depth_snb > li {border-bottom: 1px solid #b1b1b1;}
#menuSmall .gnb .one_depth_snb > li:last-of-type {border: 0;}
#menuSmall .gnb .one_depth_snb > li > a {
    display: block; text-indent:15px; padding: 20px 0; font-size: 1em; position: relative;
}
#menuSmall .gnb .one_depth_snb > li > a.exist_two::after {
    content: ""; position: absolute; top: 50%; right: 15px; transform: translateY(-50%);
    width: 30px; height: 30px; background: url(../images/crystal-e_arrow_off.png) no-repeat 100% / 120px;
}

#menuSmall .gnb .one_depth_snb > li > a.exist_two:hover::after {background-image: url(../images/crystal-e_arrow_on.png);}
#menuSmall .gnb .one_depth_snb > li > a.exist_two.active::after {background-position-x: 66%;}
#menuSmall .gnb .one_depth_snb > li > a.exist_two.active:hover::after {background-image: url(../images/crystal-e_arrow_on.png);}
/* 보조 메뉴 - 2 */
#menuSmall .gnb .two_depth_snb {padding: 5px 0; display: none;}
#menuSmall .gnb .two_depth_snb > li > a {
    display: block; padding: 5px 0; text-indent:15px; font-size: 0.9em; color: #4d4d4d;
}
/* 슬라이더 */
#main_slider {
    margin-top: 130px; height: 600px; width: 100%; position: relative;
}
/* 슬라이더 그림들 */
#main_sliderWrap {}
#main_sliderWrap li {
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
    background: no-repeat center / cover;
}
#main_sliderWrap li.on {z-index: 1;}
#main_sliderWrap li a {
    display: block; width: 80%; height: 100%; margin: 0 auto;
    padding: 50px 0 0; box-sizing: border-box;
}
#main_sliderWrap li a p {
    font-size: 40px; font-weight: bold; line-height: 1.4em; padding-left: 6vw;
    display: table-cell; vertical-align: middle; height: 500px;
    color: #fff;
}
#main_sliderWrap li a p em {
    font-size: 80px; line-height: 1.2em;
    font-family: "위메프B", sans-serif; color: #ffff00;
}
/* 슬라이더 목록 */
#main_sliderList {
    z-index: 1;
    position: absolute; top: 50%; transform: translateY(-50%); right: 10vw;
}
#main_sliderList ul {
    display: grid; row-gap: 2px;
    transform-style: preserve-3d; perspective: 1000px;
}
#main_sliderList ul li {
    box-sizing: border-box; transition-duration: 0.3s;
    background: #fff; border-radius: 10px;
}
#main_sliderList ul li:hover {
    animation: swing 1s forwards 1; box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
#main_sliderList ul li.on {transform: scale(1.05); box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);}
@keyframes swing {
    0% {transform: rotateZ(0deg);}
    33% {transform: rotateZ(-3deg);}
    66% {transform: rotateZ(3deg);}
    100% {transform: rotateZ(0deg);}
}
#main_sliderList ul li a {
    display: table-cell; min-width: 6vw; padding: 15px 20px;
    vertical-align: middle; transition-duration: 0.3s;
    font-size: 20px; font-family: "SB어그로B", sans-serif;
}
#main_sliderList ul li.on a {color: #f00;}
/* 메인 */
/* 각 섹션 공통 */
#main > section {padding: 60px 0;}
#main > section h2 {
    text-align: center; font-size: 55px; margin-bottom: 60px;
    position: relative; top: 100px; opacity: 0; font-family: "SB어그로B", sans-serif;
}
/* 추천해요 */
#recommend {background-color: #efefef;}
#recommend dl {
     width: 75%; margin: 0 auto; padding-bottom: 20px;
    display: grid; grid-template-columns: auto auto auto; gap: 10px;
}
#recommend dl dt {}
#recommend dl dd {
    background: #fff no-repeat center / cover; transition-duration: 0.3s;
    border: 1px solid #afafaf;
    position: relative; top: 300px; opacity: 0;
}
#recommend dl dd:hover {box-shadow: 0 0 10px #4d4d4d; transform: scale(1.1); z-index: 1;}
#recommend dl dd a {
    display: block; height: 300px; box-sizing: border-box;
    padding: 20px 0 0 10px; transition-duration: 0.3s;
}
#recommend dl dd a:hover {}
#recommend dl dd a p {
    color: #fff; font-family: "SB어그로B", sans-serif;
    -webkit-text-stroke: 2px #000;
    font-size: 40px;
}
/* 새로 나왔어요 */
#new {}
#new h2 {}
#newListWrap {width: 95%; margin: 0 auto; overflow: hidden;}
#newList {
    width: 220%; display: grid; column-gap: 30px; padding: 0 30px; min-width: 2200px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    position: relative; top: 100px; left: 0; opacity: 0;
}
.pList {
    border: 1px solid #c7c7c7; border-radius: 2%; overflow: hidden;
    transition-duration: 0.3s;
}
.pList:hover {box-shadow: 0 0 10px #c7c7c7;}
.imgWrap {
    width: 100%; height: 17vw; overflow: hidden; min-height: 150px;
}
.pList a {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    height: 100%;
}
.pList .imgWrap img {width: 100%; transition-duration: 0.3s;}
.pList:hover .imgWrap img {transform: scale(1.2);}
.p_name {
    padding: 20px;
}
.p_name p:first-child {
    margin-bottom: 10px; max-height: 2.4em; overflow: hidden;
}
.p_name p strong {}
.p_status {
    font-size: 0.9em; padding: 0 10px; overflow: hidden;
}
.p_status p {padding-bottom: 10px;}
.p_status p:nth-child(1) {float: left; margin-right: 10px;}
.p_status p:nth-child(2) {float: left;}
.p_status p:nth-child(3) {float: right;}
.p_status p em {color: #c91c1c; font-weight: bold;}
/* 위치 */
#new_move {
    clear: both; padding: 80px 0 30px;
    position: relative; top: 100px; opacity: 0;
}
#new_position {
    margin: 0 auto; width: 500px; height: 2px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
    animation: colorMove 2s linear infinite;
}
#new_move a{
    display: block; width: 60px; height: 30px; position: relative; top: -15px; left: 0;
    background: url(../svg/crystal-e_new.svg) no-repeat center / cover;
    box-shadow: 0 0 5px #595959; border-radius: 8px;
}
/* 카테고리 베스트 */
#categoryBest {background: #efefef;}
/* 각 탭 위치 잡기 */
#cbTapWrap {
    top: 100px; opacity: 0;
    width: 80%; margin: 0 auto; position: relative;
}
#cbTapWrap > section h3 {}
#cbTapWrap section .cbListWrap {padding-top: 9vw; display: none;}
/* 각 탭 */
#cbTapWrap h3 {width: 16.6%; position: absolute; top: 0; text-align: center;}
#cbTap_cloth h3 {left: 0;}
#cbTap_beauty h3 {left: 16.6%;}
#cbTap_socks h3 {left: 33.2%;}
#cbTap_oral h3 {left: 49.8%;}
#cbTap_goods h3 {left: 66.4%;}
#cbTap_season h3 {left: 83%;}
#cbTapWrap h3 a {
    display: block; width: 100%; padding-top: 8vw; margin: 0 auto 10px;
    background: no-repeat top / 7vw; transition-duration: 0.3s;
}
#cbTap_cloth h3 a {background-image: url(../svg/categoryBest/cloth_off.svg);}
#cbTap_beauty h3 a {background-image: url(../svg/categoryBest/beauty_off.svg);}
#cbTap_socks h3 a {background-image: url(../svg/categoryBest/socks_off.svg);}
#cbTap_oral h3 a {background-image: url(../svg/categoryBest/oral_off.svg);}
#cbTap_goods h3 a {background-image: url(../svg/categoryBest/goods_off.svg);}
#cbTap_season h3 a {background-image: url(../svg/categoryBest/season_off.svg);}
/* hover */
#cbTap_cloth h3 a:hover {background-image: url(../svg/categoryBest/cloth_on.svg);}
#cbTap_beauty h3 a:hover {background-image: url(../svg/categoryBest/beauty_on.svg);}
#cbTap_socks h3 a:hover {background-image: url(../svg/categoryBest/socks_on.svg);}
#cbTap_oral h3 a:hover {background-image: url(../svg/categoryBest/oral_on.svg);}
#cbTap_goods h3 a:hover {background-image: url(../svg/categoryBest/goods_on.svg);}
#cbTap_season h3 a:hover {background-image: url(../svg/categoryBest/season_on.svg);}
/* active class */
#cbTap_cloth.active h3 a {background-image: url(../svg/categoryBest/cloth_on.svg);}
#cbTap_beauty.active h3 a {background-image: url(../svg/categoryBest/beauty_on.svg);}
#cbTap_socks.active h3 a {background-image: url(../svg/categoryBest/socks_on.svg);}
#cbTap_oral.active h3 a {background-image: url(../svg/categoryBest/oral_on.svg);}
#cbTap_goods.active h3 a {background-image: url(../svg/categoryBest/goods_on.svg);}
#cbTap_season.active h3 a {background-image: url(../svg/categoryBest/season_on.svg);}
#cbTapWrap h3 a {font-size: 0.9em;}
/* 각 탭의 리스트 시작 */
#cbTapWrap ul {
    width: 90%; margin: 30px auto 0; transition-duration: 0.3s;
    display: grid; grid-template-columns: auto auto auto; gap: 20px;
}
#cbTapWrap .imgWrap {height: 9vw;}
#cbTapWrap .p_name {padding-top: 10px;}
#cbTapWrap .pList {background: #fff;}
/* 지도 */
#main #branch {
    transition-duration: 0.4s; padding: 0; min-height: 700px;
    width: 100%; height: 80vh; position: relative;
}
#main #branch h2 {margin: 0;}
#mapWrap {width: 90%; margin: 0 auto;}
#mapWrap > p span {
    position: absolute; font-size: 2.5vw; font-weight: bold; font-family: "SB어그로B", sans-serif;
    line-height: 1.5em; color: #000; z-index: 10; transition-duration: 0.3s;
    /* margin-top: 100px; opacity: 0; */
}
#mapWrap > p span:first-child {
    top: 5%; left: 5%;
}
#mapWrap > p span:last-child {
    bottom: 5%; right: 5%;
    text-align: right;
}
#map {
    width: 500px; height: 660px; position: relative; margin: 0 auto; transition-duration: 0.3s;
    transform: translateY(-50%);
    background: url(../svg/map.svg) no-repeat center / 400px;
}
#map ul {}
#map .point {
    font-size: 16px;
    position: absolute; color: #c91c1c; font-family: "SB어그로B", sans-serif;
}
#map .seoul {top: 75px; left: 165px;}
#map .incheon {top: 120px; left: 140px;}
#map .daejeon {top: 220px; left: 205px;}
#map .gwangju {top: 355px; left: 145px;}
#map .daegu {top: 285px; left: 315px;}
#map .busan {top: 355px; left: 365px;}
#map .gangwon {top: 85px; left: 305px;}
#map .jeju {top: 515px; left: 120px;}
#map .count {
    height: 55px; text-align: center; transition-duration: 0.3s;
    background: url(../svg/crystal-e_mapPoint.svg) no-repeat center 60px / 20px;
}
#map .count span {display: block;}
#map .point p:first-child {
    color: #000; text-align: center;
    font-family: "SB어그로M", sans-serif;
}
/* 상품 거래처 회사 */
#client {border-top: 1px solid #efefef;}
#main #client h2 {
    margin-bottom: 30px;
}
#clientList {
    width: 90%; margin: 0 auto; padding: 15px;
    position: relative; top: 100px; opacity: 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #afafaf;
    display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;
}
#clientList li {
    float: left; width: 20%; text-align: center; transition-duration: 0.3s; padding: 20px 0;
    vertical-align: middle;
}
#clientList li a {position: relative;}
#clientList li a::after {
    content: ""; position: absolute; bottom: 0; left: 50%;
    width: 0; height: 2px; background-color: #c91c1c;
    transition-duration: 0.3s;
}
#clientList li a:hover::after {left: -5%; width: 110%;}
/* 장바구니, 최근 본 상품 */
#aside_product {
    position: absolute; top: 800px; right: 10px; z-index: 1000;
}
/* 장바구니 */
#as_basket {
    position: relative; width: 90px; margin-bottom: 1px;
    background: #fff;
}
#as_basket a {
    display: block; width: 90px; height: 60px; transition-duration: 0.3s;
    background: url(../images/cart.png) no-repeat center / 40px;
    border: 1px solid #828282;
}
#as_basket a:hover {background-image: url(../images/cart_on.png);}
#as_basket p {
    position: absolute; top: -15px; right: -10px;
    line-height: 25px; width: 25px; height: 25px; text-align: center;
    border-radius: 50%; font-size: 18px;
    background-color: #c91c1c; color: #fff;
}
/* 최근 본 상품 */
#as_recent_product {
    width: 92px; height: 410px; border: 1px solid #828282;
    padding: 5px; box-sizing: border-box; font-size: 0.8em; text-align: center;
    background: #fff;
}
#as_recent_product ul {}
#as_recent_product ul li {
    height: 75px; background: no-repeat center / 60px;
    overflow: hidden;
}
#as_recent_product ul li.no_item {
    display: table-cell; vertical-align: middle;
    transform: translateY(165px);
}
/* top, bottom 버튼 */
#top_bottom {position: fixed; bottom: 10px; right: 10px; z-index: 1000;}
#top_bottom a {
    display: block; width: 30px; height: 30px;
    border: 1px solid #828282; transition-duration: 0.3s;
    background: #fff url(../images/crystal-e_arrow_off.png) no-repeat bottom / 120px;
}
#top_bottom a.top {background-position-x: 66%; margin-bottom: 1px;}
#top_bottom a.bottom {background-position-x: 100%;}
#top_bottom a:hover {background-image: url(../images/crystal-e_arrow_on.png);}
/* footer */
#footerWrap {
    border-top: 1px solid #828282; padding: 50px 0;
    background: url(../svg/crystal-e_logo_footer.svg) no-repeat 50px 150px / 600px;
}
#footer {
    width: 90%; margin: 0 auto; overflow: hidden; position: relative;
    text-transform: uppercase; font-size: 16px;
}
#info {}
#info p {margin-bottom: 30px;}
#info small {font-size: 14px; color: #808080;}
#info small span {text-transform: lowercase;}
#customer_call {
    position: absolute; top: 50%; left: 50%; transform: translateY(-50%);
}
#customer_call p:first-child {font-size: 25px;}
#customer_call p:first-child span {font-size: 16px;}
#customer_call p:last-child {
    font-size: 45px; padding-left: 60px; width: 50vw;
    background: url(../svg/headset.svg) no-repeat left / 50px;
}
#link {position: absolute; bottom: 0; right: 0; transition-duration: 0.3s;}
#link a {
    display: block; width: 50px; height: 50px;
    background: no-repeat center / cover;
    transition-duration: 0.3s;
}
#link a.naver {
    background-image: url(../svg/crystal-e_link_off.svg);
}
#link a.naver:hover {background-image: url(../svg/crystal-e_link_on.svg);}
/* 마우스 모양 */
#cursor {
    font-family: "SB어그로B", sans-serif; color: #c91c1c; font-size: 20px;
    position: absolute; z-index: 10000; transform: translate(40%, -70%);
    transition: font-size 0.1s linear; pointer-events: none;
}

/* 반응형 */
@media all and (max-width: 1200px) {
    #header h1 {margin-bottom: 15px; width: 170px; height: 21px;}
    #header h1 a {background-size: 170px;}
    /* 슬라이더 */
    #main_sliderList {right: 3vw;}
    #main_sliderWrap li a p {font-size: 35px; display: block; padding-left: 0;}
    #main_sliderWrap li a p em {font-size: 70px; -webkit-text-stroke: 1px solid #000;}
    /* 추천해요 */
    #recommend dl {grid-template-columns: auto auto;}
    /* 카테고리 베스트 */
    #cbTapWrap ul {grid-template-columns: auto auto;}
    /* 지역별 지점 */
    #mapWrap > p span {font-size: 3.5vw;}
    #map {background-size: 300px; width: 400px;}
    #map .seoul {top: 120px; left: 135px;}
    #map .incheon {top: 150px; left:110px;}
    #map .daejeon {top: 230px; left: 165px;}
    #map .gwangju {top: 335px; left: 115px;}
    #map .daegu {top: 275px; left: 245px;}
    #map .busan {top: 325px; left: 285px;}
    #map .gangwon {top: 115px; left: 245px;}
    #map .jeju {top: 445px; left: 100px;}
    /* 거래처 회사들 */
    #clientList li {width: 25%;}
    /* footer */
    #footerWrap {background-position-y: 270px;}
    #customer_call {
        position: static; top: auto; left: auto; transform: translateX(0%) translateY(0%);
        margin-bottom: 30px;
    }
}
@media all and (max-width: 800px) {
    /* 헤더 꾸미기 */
    #header {display: block;}
    #search {width: 80%; margin: 0 auto; position: relative;}
    #check {position: absolute; top: 50%; right: 5px; transform: translateY(-50%);}
    #option {position: absolute; top: 15px; right: 35px;}
    /* 슬라이더 */
    #main_slider {height: 600px;}
    #main_sliderList {
        top: 90%; left: 50%; transform: translateX(-50%); right: auto; width: 250px;
    }
    #main_sliderList ul {
        grid-template-columns: auto auto auto auto auto auto auto; gap: 5px;
    }
    #main_sliderList ul li {
        width: 20px; height: 20px; border-radius: 50%;
        position: relative; cursor: pointer;
    }
    #main_sliderList ul li:hover {animation: upDown 0.5s forwards 1; border: 5px solid rgba(255, 230, 0, 0.8);}
    @keyframes upDown {
        0% {transform: translateY(0px);}
        50% {transform: translateY(-5px);}
        100% {transform: translateY(0px);}
    }
    #main_sliderList ul li.on {animation: upDown 0.5s forwards 1; border: 5px solid rgba(0, 0, 0, 0.2);}
    #main_sliderList ul li a {
        font-size: 16px; padding: 10px; font-family: "SB어그로M", sans-serif;
        position: absolute; top: -70px; left: 0; transform: translateX(-45%); width: 120px;
        background: #fff; border-radius: 10px; display: none;
    }
    #main_sliderList ul li:hover a {display: block; box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);}
    
    /* 추천해요 */
    #recommend dl {
        grid-template-columns: auto;
   }
   /* 새로 나왔어요 */
   #new_position {width: 450px;}
   /* 카테고리베스트 */
   #cbTapWrap h3 a {background-size: 10vw; padding-top: 12vw;}
   #cbTapWrap {width: 90%;}
   #cbTapWrap ul {width: 100%; margin-top: 60px;}
   /* 지역별 지점 */
   #mapWrap > p span {font-size: 4vw;}
   #mapWrap > p span:first-child {top: 3%; left: 5%;}
   #mapWrap > p span:last-child {bottom: 3%; right: 5%;}
   /* 거래처 회사들 */
   #clientList li {width: 33.3333%; font-size: 0.9em;}
   /* footer */
   #link {
       position: static; margin-top: 20px;
       display: flex; flex-flow: row wrap; justify-content: flex-end;
    }
   #customer_call p:last-child {font-size: 35px; width: 100%;}
   #footerWrap {background-size: 400px; background-position: 20px 270px;}
}
@media all and (max-width: 600px) {
    #cbTapWrap ul {grid-template-columns: auto;}
    #main_sliderWrap li a p em {font-size: 50px;}
    #main_sliderWrap li a p {font-size: 25px;}
    #mapWrap > p span {font-size: 5vw; font-family: "SB어그로M", sans-serif;}
    /* 거래처 회사들 */
    #clientList li {width: 50%;}
    /* 사이드메뉴 */
    #aside_product {position: fixed; top: auto; bottom: 76px;}
    /* 장바구니 */
    #as_basket {width: 30px;}
    #as_basket a {background-size: 25px; width: 30px; height: 30px;}
    /* 최근 본 상품 */
    #as_recent_product {
        width: 30px; height: 30px; padding: 0;
        background: #fff url(../svg/recent_product.svg) no-repeat center / 30px;
        box-sizing: content-box; position: relative;
    }
    #as_recent_product p {
        position: absolute; top: -380px; left: -90px;
        width: 82px; z-index: 1; 
        display: none;
    }
    #as_recent_product ul {
        position: absolute; top: -390px; left: -90px;
        padding-top: 30px; background-color: #fff;
        width: 82px; height: 375px; border-radius: 10px;
        border: 1px solid #828282; 
        display: none;
    }
    /* footer */
    #link {bottom: 30px;}
}
@media all and (max-width: 500px) {
    /* 로고 */
    #header h1 {width: 120px;}
    #header h1 a {background-size: 120px;}
    /* 작을 때 메뉴 */
    #menuSmall .gnb > li > a {padding: 10px 0; font-size: 0.9em;}
    #menuSmall .gnb .one_depth_snb > li > a {padding: 10px 0; font-size: 0.9em;}
    /* 섹션 별 제목 */
    #main > section h2 {font-size: 40px; font-family: "SB어그로M", sans-serif;}
    /* 슬라이더 */
    #main_sliderWrap li a p em {font-size: 50px;}
    /* 추천해요 */
    #recommend dl dd a p {font-size: 40px; -webkit-text-stroke-width: 1.5px;}
    /* 새로 나왔어요 */
    #new_move {display: none;}
    /* 카테고리별 베스트 */
    #cbTapWrap h3 a {font-size: 0.8em;}
    /* 지역별 지점 수 */
    #map {background-size: 300px; width: 300px;}
    #map .seoul {top: 120px; left: 85px;}
    #map .incheon {top: 150px; left:60px;}
    #map .daejeon {top: 230px; left: 115px;}
    #map .gwangju {top: 335px; left: 65px;}
    #map .daegu {top: 275px; left: 195px;}
    #map .busan {top: 325px; left: 235px;}
    #map .gangwon {top: 115px; left: 195px;}
    #map .jeju {top: 445px; left: 50px;}
    /* footer */
    #customer_call p:last-child {font-size: 30px;}
    #customer_call p:last-child {font-size: 35px; background-size: 40px; padding-left: 50px;}
}
